
/*Ma page index*/
body{
	background-color: #dbd6d6 !important;

}

.navbar{
	background-color: gray;
	padding: 20px !important;
	box-shadow: 1px 4px 1px;
}
.form-inline a{
	color: black;
	font-size: 20px;
	transition: 3s;
	text-decoration: none;

}
.form-inline a:hover{
	color: white;
}



h3{
	text-decoration: underline;
	position: relative;
	top: 20px;
}

.texte{
	border: 3px dotted gray;
	text-align: center;
	background-color: gray;
	color: #efefef;
	position: relative;
	top: 40px;
}

.foot{
       font-size: x-large;
       background-color: black;
       padding: 20px;
	   margin-top: 420px;
	
	color: lightgrey;
	text-align: center;
}
.lig{
	color: white;
    display : inline-block;
    vertical align : top;
}
.fa-facebook-square{
	position: relative;
	right: 5px;
}

.fa-github{
	position: relative;
	left: 5px;
}

.form-inline{
	position: relative;
	bottom: 7px;
	right: 50px;
	font-family: impact;
	font-size: 25px;
	color: lime;
	background-color: ;
	/*border: 1px solid; */
	display : in-line;
}


.logo{
	
	
     font-size: 25px;
     
} 
.logo a:hover{
	color: black;
	transition: 3s;
    
}

.h1page1{
	border: 1px solid black;
	padding: 0px;
	text-align: center;
	
	box-shadow: 1px 4px 1px;
}


#carouselExampleIndicators{

	position: relative;
	top: 520px;

}
.carousel img {
  height: 600px;
  
  /*Ma page Mon cv*/
}
.footcv{
	font-size: x-large;
       background-color: black;
       padding: 20px;
	   margin-top: 493px;
	
	color: lightgrey;
	text-align: center;
}


.h1page2{

	text-align: center;
	border: 1px solid;
	box-shadow: 1px 4px 1px;
}

.page{
	width: 780px;
	margin auto;
	font-family: 'arial', georgia, impact, serif, sans-serif;
	font-size: 16px;
	border: 5px solid;
	border-radius: 5px;
	box-shadow: 2px 4px 3px black;
	padding:20px;

	margin: auto;
	position: relative;
	top: 100px


}

.infophoto{
    height: 250px;
}

.info{
	float: left;
	position: relative;
 	left: 10px;
 	top: 40px;
}
 .photo{
 	float: right;
 	position: relative;
 	right: 10px;
 	top: 40px;
 }

 .section{
 	margin-bottom: 70px;
 	text-align: justify;
 }
 .secgauche{
 	float: left;
 	font-weight: bold;
 	font-size:20px;
 }
.secdroite{
	margin-left: 150px;
	
}
h5{
	font-size: 10px;
	color: #3388bb;
	border-bottom: 3px solid #3388dd;
    
}

.titre{
	font-weight: bold;
	font-size: 20px;
}

#forma-gauche p{
	margin-bottom: 40px;
}
#lang{
     
}
#lniv{
	margin-top: 13px;
}

/*Ma page contact*/

.footcontact{
	font-size: x-large;
       background-color: black;
       padding: 20px;
	   margin-top: 493px;
	
	color: lightgrey;
	text-align: center;
}

.h1page3{
	text-align: center;
	border: 1px solid ;
	box-shadow: 1px 4px 1px;
}



.formu{
	width: 780px;
	margin auto;
	font-family: 'arial', georgia, impact, serif, sans-serif;
	font-size: 16px;
	border: 5px solid;
	border-radius: 5px;
	box-shadow: 2px 4px 3px black;
	padding:20px;


	margin: auto;
	position: relative;
	top: 100px

}

#droit {
	margin-left: 150px;
    
    position: relative;
    left: 90px; */

}

#gauch {
	float: left;
	   margin-top: -4px;
}
.titrefor{
	text-align: center;
	border: 1px dotted;
	background-color: gray;
	padding-top: 10px;
	box-shadow: 6px 5px 4px;
}
.tout{
	padding-top: 30px;
}

.envoi{
	position: relative;
	left: 300px;
}



